@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,900');
@import "radio.scss";
@import "loader.scss";
@import "panel.scss";
@import "toggle.scss";
$base-duration: 500ms;
$cubic: cubic-bezier(.64,.09,.08,1);
// Colors
$color-1: #004544;
$color-2: #9fd5b3;
$color-3: #E48F22;
$color-4: #CF3234;
$color-5: #444;
$white: #fff;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-5;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-5;
}

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
body { margin:0; padding:0; font-family: 'Montserrat', sans-serif; font-weight: lighter; overflow: hidden;}
main {position: relative; width: 100%;}
h1,h2,h3,h4,h5{font-weight: bold; margin: 0;}
img{width: 100%;}
// ====================== mobile ============================
.menu {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 5em;
	height: 5em;
	background-color: $color-1;
  color: $color-3;
	//box-shadow: 0 0 20px rgba(black,0.2);
	transition: transform 250ms ease;
	cursor: pointer;
	z-index: 200;
  font-weight: bold;
	letter-spacing: .2em;
  padding: 1em 1em .5em 1em;

	span {
		position: relative;
		display: block;
		width: 100%;
		height: 2px;
		background-color: $color-3;
		float: left;
		transform-origin: center center;
		transition: transform 250ms ease;
		z-index: 200;

		&:nth-of-type(1) {
			transform: translateY(-.5em);
		}

		&:nth-of-type(3) {
			transform: translateY(.5em);
      margin-bottom: .75em;
		}
	}
}

#menu {
	display: none;

	&:checked ~ .menu {
		background-color: $color-3;
    color: $color-1;
		// transform: rotate(360deg);
		// transition: transform 250ms ease;

		span {
			background-color: $color-1;
			transition: transform 250ms ease;

			&:nth-of-type(1) {
				transform: translateY(1px) rotate(45deg);
			}

			&:nth-of-type(2) {
				display: none;
			}

			&:nth-of-type(3) {
				transform: translateY(-1px) rotate(-45deg);
			}
		}
	}

	&:checked ~ .nav {
		right: 0;
		transition: right $base-duration ease;
	}

	&:checked ~ main {
		transform: translateX(250px);
		transition: transform $base-duration ease;
	}

	// &:checked ~ header {
	// 	transform: translateX(250px);
	// 	transition: transform $base-duration ease;
	// }
}

.nav {
	position: fixed;
	top: 0;
	right: -30em;
	width: 30em;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: $color-2;
	transition: right $base-duration ease;
	z-index: 5;

  .search-box{
    padding: 1em 6em 1em 1em;
    position: relative;

    input{
      padding: 1em;
      width: 100%;
      border: none;
      border-bottom: .2em solid $color-1;
      background-color: $color-2;
    }
    span{
      position: absolute;
      width: 1em;
      top: 1.25em;
      right: 6.5em;
    }
  }

  .nav-container{
    width: 30em;
    height: 100vh;
    position: fixed;
    transition: right $base-duration ease;
    top: 5em;
    right: -30em;
    overflow-y: auto;

    .nav-item{
      background-color: $color-1;
      display: flex;

      a{
        color: $white;
        text-decoration: none;
        flex: 1;
        display: flex;
        border-bottom: .1em solid $white;

        span{
          margin: auto 0;
          padding: .5em;
        }
      }
      a:hover{
        background-color: $color-3;
      }

      .sub-items-btn{
        width: 5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        color: $white;
        border-left: .1em solid $white;
        cursor: pointer;
        border-bottom: .1em solid $white;
      }

      .sub-items-btn:hover{
        background-color: $color-3;
        border-color: $color-3;
      }
    }
  }

  .active.nav-container{
    transition: right $base-duration ease;
    right: 0;
  }
}
// ====================== mobile end ========================
@media all and (min-width: 401px) {
  .nav {
    .panel-content{
    }
  }
}
// ======================= header end =====================
